<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RMMV_PackMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RMMV_PacMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RMMV_Essentials.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RMMV_PackMan.Properties.Settings>
            <setting name="BaseGenDir" serializeAs="String">
                <value>%root%</value>
            </setting>
            <setting name="NewDataDir" serializeAs="String">
                <value>NewData</value>
            </setting>
            <setting name="FirstLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MVPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LogLimitType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinBufferSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="MaxBufferSize" serializeAs="String">
                <value>10485760</value>
            </setting>
            <setting name="OpenFileDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenFileAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenFileArg" serializeAs="String">
                <value />
            </setting>
            <setting name="FormLoggerShown" serializeAs="String">
                <value>False</value>
            </setting>
        </RMMV_PackMan.Properties.Settings>
        <RMMV_PacMan.Properties.Settings>
            <setting name="BaseGenDir" serializeAs="String">
                <value>%root%</value>
            </setting>
            <setting name="NewDataDir" serializeAs="String">
                <value>NewData</value>
            </setting>
            <setting name="FirstLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MVPath" serializeAs="String">
                <value />
            </setting>
        </RMMV_PacMan.Properties.Settings>
        <RMMV_Essentials.Properties.Settings>
            <setting name="RMMVExe" serializeAs="String">
                <value />
            </setting>
        </RMMV_Essentials.Properties.Settings>
    </userSettings>
</configuration>